/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}


/* grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 10.5px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
}