/* list */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* flex */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}


/* grid */

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 10.5px;
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    width: auto;
}