.footer-container {
    background-color: var(--clr1);
}

.footer-container .logo {
    margin-block-start: 51px;
    color: white;
    margin-left: 30%;
}

.footer-container small {
    height: 100%;
    font-family: Montserrat;
    letter-spacing: 0.05rem;
    text-align: center;
    color: #fff;
    margin-left: 30%;
}