.footer-container {
    width: 600px;
    height: 103.5px;
    margin: 83.5px 0 0;
    padding: 38.5px 221.6px 4px 221.4px;
    background-color: var(--clr1);
}

.footer-container .logo {
    width: 36.5px;
    height: 21px;
    margin: 0 15px 20px;
    color: white;
}

.footer-container small {
    width: 157px;
    height: 45.6px;
    margin: 0 4.4px 7px 7px;
    font-family: Montserrat;
    font-size: 9.5px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
}