.main-screen {
    position: fixed;
    inset: 0;
    opacity: 0;
    cursor: pointer;
    background-color: rgb(0, 0, 0 / 30%);
    pointer-events: none;
    transition: opacity .3s;
}

body.modal-open .main-screen {
    opacity: 1;
    pointer-events: auto;
}