@font-face {
    font-family: impact;
    src: url(../../assets/fonts/impact/impact.ttf);
}


@font-face {
    font-family: montrserrat;
    src: url(../../assets/fonts/Montserra/Montserrat-Regular.ttf);
}


@font-face {
    font-family: balloon;
    src: url(../../assets/fonts/balloon/BalonkuRegular-la1w.otf);
}